.section {
  padding: 30px;
}

.container {
  width: 100%;
  display: flex;
  height: calc(100% - 80px);
}

.section h3 {
  font-size: 0.9rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.slider {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  gap: 20px;
}

.slider::-webkit-scrollbar {
  height: 0px;
}

.slider_box {
  width: 300px;
  /* height: 200px; */
  background: #222222;
  border-radius: 10px;
  border: 2px solid var(--light-border-color);
  padding: 15px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.slider_box:hover {
  border: 2px solid var(--active-background);
}

.slider_box h5 {
  color: var(--primary-color);
  font-size: 0.7rem;
}

.slider_box p {
  color: var(--secondary-color);
  font-size: 0.6rem;
  line-height: 0.8rem;
  margin: 10px 0px;
}

.slider_box span {
  color: var(--active-light);
  font-size: 0.63rem;
  margin-top: 20px;
}

.section_1 {
  width: 60%;
  /* background: white; */
}

.section_2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--light-border-color);
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid var(--light-border-color);
}

.header h4 {
  color: var(--primary-color);
  font-size: 0.7rem;
}

.chat_interface {
  height: 100%;
  overflow-y: scroll;
  flex: 1;
  padding: 10px;
}

.chat_interface::-webkit-scrollbar {
  width: 0px;
}

.input {
  border-top: 2px solid var(--light-border-color);
}

.bubble {
  margin-bottom: 10px;
}

.bubble pre {
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  color: var(--primary-color);
  white-space: break-spaces;
}
